<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dencs is an open and distributed payment infrastructure for enterprise.">
    <meta name="author" content="Dencs web team">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Dencs | Learn</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="js/Learn.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="learnApp">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">
                    Dencs
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#index2.html">Learn</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- About Section -->
    <!--
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Dencs</h2>
                <p>By advocating an open, distributed, and de-centralized internet, we foresee an innovative, efficient and trustable network that will benefit the users.</p> 
                
                <p>An example of a distributed and de-centralized cloud is <a href="https://bitcoin.org/">bitcoin</a>. It does not need a central bank or any big brothers. The distributed bitcoin is more safe: The exploits on bitcoin so far have been on human errors, not on bitcoin’s distributed foundation itself.</p>
               
                <p>Dencs goes beyond bitcoin. Resources such as storage, processing power, bandwidth are oftentimes under-utilized due to low occupancy factors.</p>
            </div>
        </div>
    </section>
    -->

    <!-- Download Section -->

    <section id="download" class="content-section" ng-controller="ContainController">
        <div class="download-section">
            <div class="container">
                <h4>Learn</h4>
                <hr style="border-width: 1px;">
                <div>
                    <ul class="nav navbar-left col-lg-3 nav-left-section">
                        <li><a href="" ng-click="showOne()">Introduction</a></li>
                        <li><a href="" ng-click="showOne()">Blockchain technology</a></li>
                        <li><a href="" ng-click="showOne()">Consensus</a></li>

                    </ul>
                </div>
                <div id="tab1" class="col-lg-7 learn-content-section">
                    <h4>Introduction</h4>
                    <p>Dencs (pronounced like "Thanks") is a Decentralized Elastic Network of Currency Services for payment system and remittance network by DENCS.org. Dencs aims to enable safe, instant and low-cost global financial transactions and supports any credit system or other unit of value (internet bandwidth usage, mobile roaming data, utility usage tracking, etc.).</p>
                    <p>It is built upon a distributed, open-source protocol for currency services. At the core of Dencs, it is based around a shared, public, sequential transaction database, improved from Bitcoin blockchain. Let’s call it ledger.</p>
                    <hr>
                    <h4>Blockchain technology</h4>
                    <p>The blockchain is simply a digital ledger. A ledger is the principal book or computer file for recording and totaling economic transactions measured in terms of a monetary unit of account by account type, with debits and credits in separate columns and a beginning monetary balance and ending monetary balance for each account.</p>
                    <p>The blockchain holds information about balances and transaction history of currencies and assets in all accounts. Participants in Dencs agree to the transactions added into the ledger via a mechanism of consensus algorithm which is reached in seconds.</p>
                    <hr>
                    <h4>Consensus algorithm</h4>
                    <p>The fundamental consensus algorithm is elastic and secure, and ensures the trust between each participant. This mechanism utilized the amazing concept of proof of work, as a voting process to select a verifier once in a period. This verifier will check whether the transactions in that period are valid or not. All this allows for payments without the need for a centralized clearing house.</p>

                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center contact-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact us</h2>
                <p>Feel free to email us to provide some feedbacks, give us some suggestions, or just join us!</p>
                <p><a href="mailto:fountainopen@gmail.com">dencs@fountain-opennet.org</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Dencs org. 2014</p>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
